@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #022701;
  letter-spacing: .2rem;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "newGame header header" ".       level  .     " "puzzle  puzzle puzzle" "puzzle  puzzle puzzle" "topScore .     score ";
  background: linear-gradient(130deg, rgb(119, 234, 97, .8), #022701), url("../images/coverBG.jpg");
}

.newGame {
  grid-area: newGame;
  display: flex;
  justify-content: center;
  align-content: center;
}

.header {
  grid-area: header;
  text-transform: uppercase;
  letter-spacing: .7rem;
  text-shadow: 3px 3px 3px #022701;
  font-size: 3rem;
  color: #fff;
}

.puzzleBlock {
  grid-area: puzzle;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

@media (min-width: 600px) {
  .puzzleBlock {
    grid-template-columns: repeat(3, 1fr);
  }
}

.score {
  grid-area: score;
}

.topScore {
  grid-area: topScore;
}

.topScore,
.score {
  justify-self: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  background-color: #022701;
  padding: .5rem 1rem;
  margin: 1rem;
  border-radius: 2rem;
}
/*--------Flipping puzzles----------*/

.scene {
  width: 45vw;
  height: 45vw;
  perspective: 600px;
  padding: 3vw;
  justify-self: center;
  align-self: center;
}

@media (min-width: 600px) {
  .scene {
    width: 30vw;
    height: 30vw;
  }
}

@media (min-width: 1200px) {
  .scene {
    width: 25vw;
    height: 25vw;
  }
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform-origin: center right;
}

.card-side {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  backface-visibility: hidden;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.card-side-front {
  transform: rotateY(180deg);
}

.card.isFlipped {
  transform: translateX(-100%) rotateY(-180deg);
}

/*--------------level sector---------------*/

.level {
  grid-area: level;
  display: flex;
  justify-content: space-between;
}

.level button, .newGame {
  background-color: #022701;
  border: none;
  color: #fff;
  padding: .5rem 1em;
  justify-self: center;
  align-self: center;
  border-radius: 2em;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}